
vendor/


.env
.env.local
.env.*.local


var/log/
var/cache/


node_modules/
public/build/
.DS_Store
.idea/
.vscode/


var/sessions/
migrations/


docker-compose.override.yml
docker-compose.yml
.mysql/


phpunit.xml
phpunit.xml.dist
coverage/